{% extends 'base.html.twig' %}

{% block error %}
    <h3 class="text-center bold">{{ 'error.404.title'|trans }}</h3>Test
    <p class="intro text-center">{{ 'error.404.content'|trans|raw }}</p>
{% endblock %}
