{% extends 'TwigBundle:Exception:error.html.twig' %}

{% block error %}
    <h3 class="text-center bold">{{ 'common.error.other.title'|trans }}</h3>
    <p class="intro text-center">{{ 'common.error.other.content'|trans|raw }}</p>
{% endblock %}

