{% extends 'app/layout.html.twig' %}

{% block content %}
    <div class="panel text-center">
        <div class="panel-heading">
            <div class="panel-title">
                <h4><strong>{{ 'common.error.other.title'|trans }} {{ status_code }}</strong></h4>
            </div>
        </div>
        <div class="panel-body">
            <p class="intro">
                {{ status_text }}
            </p>
            <p class="intro">
                {{ 'common.error.other.content'|trans }}
            </p>
        </div>
    </div>
{% endblock %}
