{% extends 'admin/layout.html.twig' %}
{% block stylesheets_lib %}
    {{ parent() }}
    <script src="http://code.highcharts.com/highcharts.js"></script>
{% endblock %}

{% block content %}
    <div class="panel">
        <div class="panel-heading">
            <div class="panel-title">Statistiques globales</div>
        </div>
        <div class="panel-body">
            <div id="chart" style="width:100%; height:400px;">


            </div>
        </div>
        <div class="panel-footer">
            <button class="btn btn-danger">Test</button>
        </div>
    </div>
{% endblock %}

{% block view_js %}
    <script>
        $(document).ready(function () {
            Highcharts.chart('chart', {
                chart: {
                    plotBackgroundColor: null,
                    plotBorderWidth: null,
                    plotShadow: false,
                    type: 'pie'
                },
                tooltip: {
                    pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
                },
                plotOptions: {
                    pie: {
                        allowPointSelect: true,
                        cursor: 'pointer',
                        dataLabels: {
                            enabled: true,
                            format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                            style: {
                                color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                            }
                        }
                    }
                },
                series: [{
                    name: 'Categories',
                    colorByPoint: true,
                    data: [{
                        name: 'Billets distribués',
                        y: 10
                    }, {
                        name: 'Billets non distribués',
                        y: 15
                    }, {
                        name: 'Billets attribués',
                        y: 40
                    }, {
                        name: 'Billets non attribués',
                        y: {{  }}
                    }, {
                        name: 'Billets redistribués',
                        y: 15
                    }]
                }]
            });
        });
    </script>
{% endblock %}