/**
 *
 *   Dropdown
 *
 */

/** Définir taille minimal du menu dropdown + taille espacements intérieur */
.dropdown-menu {
    padding: 10px;
    min-width: 190px;
    border-radius: 0px;
}
