/**
 *
 *   Dropdown
 *
 */

/** Définir taille minimal du menu dropdown + taille espacements intérieur */
.dropdown-menu {
    padding: 10px;
    min-width: 190px;
    border-radius: 0px;

    li {

        a {
            color: $color-base;
        }
        a:hover, a:focus {
            color: $color-lighter;
            background-color: $color-base;
        }
    }
}
