<div class="pull-left">
    <h1>
        <a href="#" id="sidebar-collapsed">
            <i class="fa fa-bars" aria-hidden="true"></i>
        </a>
        <a href="{{ path('admin_homepage') }}">{{ 'admin.title'|trans }}</a>
    </h1>
</div>
{# Inclusion du template pour le dropdown de la tête de la page #}
{% include 'admin/common/header/_navbar_header.html.twig' %}
