<div class="pull-left">
    <h1><a href="{{ path('admin_homepage') }}">Billeterie Admin</a></h1>
</div>
<span>
    <a href="#" data-toggle="collapse" data-target="#sidebar">
        <span class="glyphicon glyphicon-list" aria-hidden="true">
        </span>
    </a>
</span>
{% include 'admin/common/header/_navbar_header.html.twig' %}
