{# Template de base pour les deux thèmes #}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <meta name="description" content="{% block meta_description %}{% endblock %}">
    <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" type="image/ico">

    {# Block de tout les css #}
    {% block stylesheets %}

        {# Block des librairies css externe #}
        {% block stylesheets_lib %}
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
            <script type="text/javascript"
                    src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment.min.js"></script>
            <script type="text/javascript"
                    src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/locale/{{ app.request.locale }}.js">

            </script>
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        {% endblock %}

        {# Block des librairies css du thème #}
        {% block current_stylesheet %}{% endblock %}

    {% endblock %}

</head>
<body>
<main id="main">

    {# Block du template de l'entête de page #}
    {% block header %}{% endblock %}

    <div class="container" id="container">

        {# Block du template avant le contenant #}
        {% block container_before %}{% endblock %}

        {# Block du template du contenant #}
        {% block container %}{% endblock %}

        {# Block du template après le contenant #}
        {% block container_after %}{% endblock %}
    </div>

</main>

{# Block pour les librairies javascript externe#}
{% block script_lib %}{% endblock %}

{# Block pour la librairie du thème javascript #}
{% block current_script %}{% endblock %}

{# Block du js d'une vue en particulier #}
{% block view_js %}{% endblock %}

</body>
</html>
