/**
    Panel
 */

/** Définir les bordures d'un panel */
.panel {
    border: 1px solid $color;
    border-radius: 10px;
}

/** Définir l'espacement intérieur du bas pour l'entête d'un panel  */
.panel-heading {
    padding-bottom: 0;
}

/** Réécriture du titre d'un panel  */
.panel-title {
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 15px;
    border-bottom: 1px solid $color;
}

/** Réécriture du pied d'un panel */
.panel-footer {
    padding: 10px 0;
    margin: 0 15px;
    background-color: #fff;
    border-top: 1px solid $color;
}
