{% extends 'base.html.twig' %}
{% block title %}
    Billeterie | Administration
{% endblock %}
{% block meta_description %}
    Billeterie Symfony projet scolaire, partie administration
{% endblock %}
{% block current_stylesheet %}
    <link href="{{ asset('css/admin.css') }}" rel="stylesheet">
{% endblock %}

{% block header %}
    <header id="header">
        <div class="container">

            {# Inclusion du template pour le tête de la page #}
            {% include 'admin/common/header/_header.html.twig' %}

        </div>
    </header>
{% endblock %}
{% block container %}

    {# Block pour le menu de droite #}
    {% block sidebar %}
        {# Inclusion du template pour le menu#}
        {% include 'admin/common/sidebar/_sidebar.html.twig' %}
    {% endblock %}

    <div class="content">

        {# Block pour le contenu d'une vue #}
        {% block content %}{% endblock %}

    </div>
{% endblock %}

{% block current_script %}
    <script src="{{ asset('js/admin.min.js') }}"></script>
{% endblock %}
