/* 
   Project variables
   ========================================================================== */

//** Chemin de dossier et fichiers
$img-path: '../img/';
$sprite-path: '#{$img-path}sprites/';
$font-path: '../fonts/';

//** Police
$font-family-roboto: "Roboto", Arial, Helvetica, sans-serif;
$font-family-montserrat: "Montserrat", Arial, Helvetica, sans-serif;
$font-family-montserrat-light: "montserratlight", Arial, Helvetica, sans-serif;
$font-family-open-s: 'Open Sans', Arial, Helvetica, sans-serif;

//** Nuance de couleur du thème (Orange)
$color-base: #FF9609;
$color-darker: lighten($color-base, 13.5%);
$color-dark: lighten($color-base, 20%);
$color: lighten($color-base, 33.5%);
$color-light: lighten($color-base, 46.7%);
$color-lighter: lighten($color-base, 93.5%);

//** Couleur de base pour l'arrière plan du body
$body-bg: $color-light;

//** Couleur de l'arrière plan des liens de la barre de navigation lorsqu'on les survole
$nav-link-hover-bg: $color-base;

//** Couleur de bordure des liens des éléments de navigation lorsqu'on les survole
$nav-tabs-link-hover-border-color: #fff;

//** Couleur de texte des liens du menu déroulant en haut à droit
$dropdown-link-color: $color-base;

//** Couleur de texte des liens du menu déroulant en haut à droit lorsqu'on les survole
$dropdown-link-hover-color: darken($color-base, 5%);

//** Couleur d'arrière plan des liens du menu déroulant en haut à droit lorsqu'on les survole

$dropdown-link-hover-bg: $color;

//** Couleur de texte des liens
$link-color: $color-base;

//** Couleur de texte des liens lorsqu'on les survole
$link-hover-color: darken($link-color, 15%);
