/* 
   Project variables
   ========================================================================== */

$img-path: '../img/';
$sprite-path: '#{$img-path}sprites/';
$font-path: '../fonts/';

$font-family-roboto: "Roboto", Arial, Helvetica, sans-serif;
$font-family-montserrat: "Montserrat", Arial, Helvetica, sans-serif; 
$font-family-montserrat-light: "montserratlight", Arial, Helvetica, sans-serif;
$font-family-open-s: 'Open Sans', Arial, Helvetica, sans-serif;
