<nav class="navbar navbar-default" role="navigation">
    <div class="navbar-collapse">
        <ul id="sidebar" class="nav nav-pills nav-stacked">
            {{ knp_menu_render('AppBundle:AdminBuilder:mainMenu', {'template': 'admin/menu/main_menu.html.twig',
                'currentClass': 'active'}) }}
        </ul>
    </div>
</nav>
