<nav class="navbar navbar-default" role="navigation">
    <div class="navbar-collapse">
        <ul id="sidebar" class="nav nav-pills nav-stacked collapse in">
            <li>
                <a href="{{ path('admin_homepage') }}">
                    Accueil
                </a>
            </li>
        </ul>
    </div>
</nav>
